@model FinalProject.Models.Education

@{
    ViewData["Title"] = "CreateAcad";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 >Add Education</h1>

<hr />
<div class="row" style="padding-top: 1em;">
    <div class="col-md-4">
        <form asp-action="CreateAcad">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="university" class="control-label" style="padding-right: 1em; width: 80px; display: inline-block; padding-bottom: 1em;">University</label>
                <input asp-for="university" class="form-control" style="padding-left: 1em; width: 500px;" />
                <span asp-validation-for="university" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="degree" class="control-label" style="padding-right: 1em; width: 80px; display: inline-block; padding-bottom: 1em;">Degree</label>
                <input asp-for="degree" class="form-control" style="padding-left: 1em; width: 500px;" />
                <span asp-validation-for="degree" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="degreeType" class="control-label" style="padding-right: 1em; width: 80px; display: inline-block; padding-bottom: 1em;">Degree type</label>
                @Html.DropDownList("degreeType", new SelectList(Enum.GetValues(typeof(FinalProject.Models.TypeDegree))), "Select type", new { @class = "form-control" })
                <span asp-validation-for="degreeType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="major" class="control-label" style="padding-right: 1em; width: 80px; display: inline-block; padding-bottom: 1em;">Major</label>
                <input asp-for="major" class="form-control" style="padding-left: 1em; width: 500px;" />
                <span asp-validation-for="major" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="year" class="control-label" style="padding-right: 1em; width: 80px; display: inline-block; padding-bottom: 1em;">Year</label>
                <input asp-for="year" class="form-control" style="padding-left: 1em; width: 500px;" />
                <span asp-validation-for="year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="coursework" class="control-label" style="padding-right: 1em; width: 80px; display: inline-block; padding-bottom: 1em;">Coursework</label>
                <input asp-for="coursework" class="form-control" style="padding-left: 1em; width: 500px;" />
                <span asp-validation-for="coursework" class="text-danger"></span>
            </div>
            <div class="form-group" style="padding-top: 2em;">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div style="padding-top: 1em;">
    <a asp-action="education">Back to List</a>
</div>

